@import "tailwindcss";

:root {
  font-family: "Satoshi-Regular", sans-serif;
}

@layer components {
  .wrap {
    @apply px-[16px] sm:px-[100px] min-w-[390px] sm:max-w-[1440px] sm:mx-auto;
  }

  .breadcrumb {
    @apply text-gray-500 active:text-black relative after:absolute after:content-["."] after:text-transparent after:block after:w-[12px] after:bg-[url("/src/assets/arrow-right.png")] after:bg-no-repeat after:right-[-25px] after:top-1.5 last:after:bg-none;
  }

  .filters_item {
    @apply pt-6 pb-6 border-t border-gray-200 flex;
  }

  .filters_item-title {
    @apply relative after:absolute after:content-["."] after:text-transparent after:block after:w-[12px] after:bg-[url("/src/assets/arrow-top.png")] after:bg-no-repeat after:right-0 after:top-[10px];
  }

  .filters_list-item li a{
    @apply relative block after:absolute after:content-["."] after:text-transparent after:block after:w-[12px] after:bg-[url("/src/assets/arrow-right.png")] after:bg-no-repeat after:right-0 after:top-1.5;
  }

  .filters_item-colors label {
    @apply rounded-[100%] w-[37px] h-[37px] border border-black/20;
  }

  .filters_item-size label {
    @apply text-sm rounded-4xl px-5 py-2.5 bg-gray-100;
  }
}


@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
       url('../fonts/Satoshi-Regular.woff') format('woff'),
       url('../fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
       url('../fonts/Satoshi-Medium.woff') format('woff'),
       url('../fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
       url('../fonts/Satoshi-Bold.woff') format('woff'),
       url('../fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}